@model Project2_MinhHungKhanh.Models.MhkOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MhkOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MhkOrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MhkOrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MhkStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MhkStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MhkUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MhkUser.MhkUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MhkOrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
