@model IEnumerable<Project2_MinhHungKhanh.Models.MhkOrderDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MhkQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MhkUnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MhkOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MhkProduct)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MhkQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MhkUnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MhkOrder.MhkOrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MhkProduct.MhkProductId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MhkOrderDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MhkOrderDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MhkOrderDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
