@model Project2_MinhHungKhanh.Models.MhkProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MhkProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MhkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MhkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MhkPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MhkPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MhkDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MhkDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MhkCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MhkCategory.MhkCategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MhkProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
